# Ignore kernel module build files
*.o
*.ko
*.mod.*
*.symvers
*.order
modules.order
Module.symvers

# Ignore Rust build files
/target/
/Cargo.lock
/shared_data

# Ignore system files
.DS_Store
*.swp
*~

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore shell script logs and backups
*.sh~

# Ignore Rust specific target files
rust_service/police/target/

# Ignore specific directories
kernel/*.o
kernel/*.mod.*
